@{
    ViewData["Title"] = "Cambios en app web MVC";
}

<div class="text-center">
    <h1 class="display-4">Cambios en una aplicacion web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Programacion IV</a>.</p>
</div>
