@{
    ViewData["Title"] = "Cambios en app web MVC";
}

<div class="text-center">
    <h1 class="display-4">Cambios en una aplicacion web</h1>
    <p>Learn about <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.udla.edu.ec%2Fconsulta-y-pago-de-matricula%2F&psig=AOvVaw1Ad47BUmrTWmH2-LdCMps6&ust=1697549468372000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCKjG5trW-oEDFQAAAAAdAAAAABAE">Programacion IV</a>.</p>
</div>
