@{
    ViewData["Title"] = "Cambios en app web MVC";
}

<div class="text-center">
    <h1 class="display-4">Cambios en una aplicacion web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Programacion IV</a>.</p>
    <p>TERCER CAMBIO
        La programación en Visual Studio se refiere a la creación y desarrollo de software utilizando el entorno de desarrollo integrado (IDE) llamado Microsoft Visual Studio. Visual Studio es una suite de herramientas de desarrollo de software ampliamente utilizada por programadores y desarrolladores de aplicaciones.
    </p>
</div>
