@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>nos tomamos muy en serio la privacidad y seguridad de sus datos personales. Por ello, hemos actualizado nuestra política de privacidad para cumplir con las regulaciones vigentes y garantizar la transparencia en el manejo de sus datos.</p>
